@import 'tailwindcss' source(none);
@import 'fumadocs-ui/css/shadcn.css';
@import 'fumadocs-ui/css/preset.css';
@import 'fumadocs-twoslash/twoslash.css';
@import 'fumadocs-openapi/css/preset.css';
@import 'tw-animate-css';

@source ".";
@source "../components";
@source "../content";
@source "../app";

@custom-variant dark (&:is(.dark *));

@theme {
  @keyframes stroke {
    from {
      stroke-dasharray: 1000;
    }

    to {
      stroke-dasharray: 1000;
      stroke-dashoffset: 2000;
    }
  }

  --animate-stroke: stroke 5s linear infinite;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --color-gradient-radial: radial-gradient(circle, var(--tw-gradient-stops));
  --color-repeat-gradient-to-r: repeating-linear-gradient(
    to right,
    var(--tw-gradient-stops)
  );
  --color-repeat-gradient-to-br: repeating-linear-gradient(
    to bottom right,
    var(--tw-gradient-stops)
  );
}

@theme {
  --color-border: var(--color-fd-border);
  --color-input: var(--color-border);
}

@layer base {
  body {
    overscroll-behavior-y: none;
    background-color: var(--color-fd-background);
  }

  ::selection {
    background-color: var(--color-accent);
    color: var(--color-foreground);
  }

  .dark ::selection {
    background-color: var(--color-accent);
    color: var(--color-foreground);
  }
}

.dark [data-hide-on-theme='dark'],
.light [data-hide-on-theme='light'] {
  display: none;
}
